{% extends 'officer/officerindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/add_reports">
  <table class="table table-hover">
    <tr class="table-dark">
      <td align="right">Report</td>
      <td><label>
        <input type="file" name="file" required class="form-control"/>
      </label></td>
    </tr>
    <tr class="table-dark">
      <td colspan="2" align="center"><label>
        <div >
          <input type="submit" name="Submit" value="Send" class="btn btn-info" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
