{% extends 'officer/officerindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/cosearch#about">
  <table width="200" border="1"class=" table table-hover">
    <tr>
      <td align="right">Date</td>
      <td><label>
        <input type="date" name="textfield" value="{{ dt }}" class="form-control" required />
      </label>&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="search" class="btn btn-success"/></td>
      <td colspan="3"><label>

      </label></td>
    </tr>
    <tr class="table-dark">
      <td>Sl no </td>
      <td>User</td>
      <td>Complaint</td>
      <td>Date</td>
      <td >Reply</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.USER.fname }} {{ i.USER.lname }}</td>
      <td>{{ i.complaints }}&nbsp;</td>
      <td>{{ i.date }}&nbsp;</td>
    <td>{% if i.reply == 'waiting' %}<a href="/sendreply_to_user/{{ i.id }}#about"class="btn btn-success">Reply</a>{% else %} {{ i.reply }} {% endif %}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
