{% extends 'admin/adminindex.html' %}
{% block body %}


<form id="form1" name="form1" method="post" action="/addcameraa">
  <table class="table table-hover">
    <tr class="table-dark">
      <td>Camera_no</td>
        <td><label><input type="text" class="form-control" name="textfield" required /></label></td>
    </tr>
    <tr class="table-dark">
      <td>Latitude</td>
        <td><label><input type="text" class="form-control" name="textfield2" required /></label></td>
    </tr>
    <tr class="table-dark">
      <td>Longitude</td>
        <td><label><input type="text" class="form-control" name="textfield3" required /></label></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" name="Submit" value="Add" class="btn btn-primary" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}