<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <td><a href="manageofficer">Add & Manage officer</a></td>
    </tr>
    <tr>
      <td><a href="complaint">View complaints</a></td>
    </tr>
    <tr>
      <td><a href="view_report_from_officer">View reports from officers</a></td>
    </tr>
    <tr>
      <td><a href="view_forest_fire_notification">View forest fire notification</a></td>
    </tr>
    <tr>
      <td><a href="view_animal_dedection">View animal detection</a></td>
    </tr>
      <tr>
      <td><a href="managecamera">Add and Manage Camera</a></td>
    </tr>
    <tr>
      <td><a href="logout">Logout</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
