{% extends 'user/userindex.html' %}
{% block body %}
<body>
<form action="/view_animal_dedection_searchuser#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-hover">
    <tr>
        <td align="right"><b>Date</b></td>
      <td colspan="2"><label>
      <input type="date" name="textfield" value="{{ dt }}" class="form-control" required />
      </label>&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="Search" class="btn btn-success"/></td>
      <td colspan="1"><label>
        <div align="center">

          </div>
      </label></td>
    </tr>
    <tr class="table-dark">
        <td>SL.no</td>
      <td>Camera</td>
      <td>Date&amp;Time</td>
      <td>Animal Image</td>
{#      <td>Location</td>#}
        <td></td>
    </tr>
      {% for i in val %}
    <tr>
     <td>{{ forloop.counter }}</td>
     <td>{{ i.CAMERA.camerano }}</td>
     <td>{{ i.date }} {{ i.time }}</td>
     <td><img src="{{ i.image.url }}" height="100px" width="100px" alt=""/> </td>
{#      <td><a href="https://www.google.com/maps?q={{ i.CAMERA.latitude }},{{ i.CAMERA.longitude }}">Track</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
